@model ForgetPasswordViewModel
@{
    Layout = null;
}


<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <h2>Şifre Yenileme Sayfası</h2>
    <form method="post">
        <label>Mail Adresiniz</label>
        <input type="text" class="form-control" asp-for="Mail" />
        <br />
        <button class="btn btn-primary">Şifre Yenile</button>
    </form>
</div>

