

@{
    ViewData["Title"] = "GetCityDestID";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<form method="post">
    <h2>Booking Oteller için Şehir ID Bilgisi Getirme</h2>
    <br />

    <label>Şehir adını giriniz</label>
    <input type="text" class="form-control" name="p" />
    <br />
    <button class="btn btn-outline-primary">Şehir ID getir</button>
</form>